<%= form_for :user, html: {class: "form-horizontal", role: "form"} do |f| %>

  <fieldset>
    <legend>Your details</legend>

    <div class="form-group">
      <%= f.label :first_name, :class => 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'John', :value => current_user.first_name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, :class => 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Doe', :value => current_user.last_name %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <span><%= link_to "Change your email or password", edit_user_registration_path %></span>
      </div>
    </div>

  </fieldset>

  <div class="row">
    <div class="col-md-12">
        <p class="text-right">
          <%= f.submit 'Update Profile', :class => 'btn btn-primary' %>
        </p>
    </div>
  </div>

<% end %>

<% content_for :sidebar do %>

<%= render 'aliases' %>

<% end %>