<p><%= @recipient.first_name %>,</p>

<p><%= @user.display_name %> (<%= mail_to @user.email, @user.email %>) has assigned a ticket to you for the following event in your group <%= @group.group_name %>.</p>

<table cellpadding="10px">
  <tr>
    <th style="width:100px"><small>Group</small></th>
    <td><%= @group.group_name %></td>
  </tr>
  <tr>
    <th><small>Event</small></th>
    <td><%= @event.event_name %> : <%= @event.date_time %></td>
  </tr>
  <tr>
    <th><small>Ticket</small></th>
    <td><%= link_to @ticket.display_name, { :controller => 'tickets', :action => 'edit', :group_id => @ticket.group_id, :event_id => @ticket.event_id, :id => @ticket.id, :only_path => false } %></td>
  </tr>
</table>

<% if !@ticket.ticket_files.blank? %>
<table cellpadding="10px">
  <tr>
    <th style="width:100px"><small>Attachments</small></th>
    <td>
      <table>
        <% for file in @ticket.ticket_files %>
        <tr>
          <td><%= link_to file.file_name, file.download_link %></td>
        </tr>
        <% end %>
      </table>
      <p><small><u>Note:</u> Emailed ticket links expire in 24 hours. <%= link_to 'Login', { :controller => 'tickets', :action => 'edit', :group_id => @ticket.group_id, :event_id => @ticket.event_id, :id => @ticket.id, :only_path => false } %> to download.</small></p>
    </td>
  </tr>
</table>
<% end %>

<p>
  ---<br />
  <%= link_to 'SeatShare', root_url, { only_path: false } %>  on behalf of <%= @user.display_name %><br />
  <%= mail_to @user.email, @user.email %></a>
</p>
