<% if @message != '' %>
<%= simple_format sanitize(@message) %>
<hr />
<% end %>
<p><%= @recipient.first_name %>,</p>

<p><%= @user.full_name %> (<%= mail_to @user.email, @user.email %>) has requested your ticket for the following event in your group <%= @group.group_name %>.</p>

<table cellpadding="10px">
  <tr>
    <th style="width:100px">Group</th>
    <td><%= @group.group_name %></td>
  </tr>
  <tr>
    <th>Event</th>
    <td><%= @event.event_name %> : <%= @event.date_time %></td>
  </tr>
  <tr>
    <th>Ticket</th>
    <td><%= link_to @ticket.section_row_seat, { :controller => 'tickets', :action => 'edit', :group_id => @ticket.group_id, :event_id => @ticket.event_id, :id => @ticket.id, :only_path => false } %></td>
  </tr>
</table>

<p>
  ---<br />
  <%= link_to 'SeatShare', { :controller => 'public', :action => 'index', :only_path => false } %>  on behalf of <%= @user.full_name %><br />
  <%= mail_to @user.email, @user.email %></a>
</p>