<p>This component is designed to work with the output of the <%= link_to 'SeatShare Schedule Parser', 'https://github.com/seatshare/seatshare-schedule-parser' %>. You will be presented with a preview of the data prior to saving it to the database.</p>

<%= form_tag(nil, multipart: true) do %>
<fieldset class="inputs">
<ol>
  <li>
    <%= label_tag :json_file, "JSON File", :class => 'label' %>
    <%= file_field_tag 'json_file' %>
  </li>
  <li>
    <%= label_tag :entity_type, "Entity Type", :class => 'label' %>
    <%= select_tag(:entity_type, options_for_select([['NHL - National Hockey League', 'NHL'],['NFL - National Football League', 'NFL'],['NBA - National Basketball Association', 'NBA'],['MLB - Major League Baseball', 'MLB']])) %>
  </li>
  <li>
    <%= label_tag :confirm, "Confirm Upload", :class => 'label' %>
    <%= check_box_tag 'confirm', '1' %> <em>This simply confirms you have tested this import file and verified that it is correct.</em>
  </li>
</ol>
</fieldset>

<ul class="actions">
  <ol>
    <li><%= submit_tag("Upload") %></li>
  </ol>
</ul>

<% if @events_list %>

<fieldset>
<table>
  <thead>
    <tr>
      <th>Entity ID</th>
      <th>Event Name</th>
      <th>Start Time</th>
    </tr>
  </thead>
  <tbody>
    <% for event in @events_list %>
    <tr>
      <td><%= event.entity_id %></td>
      <td><%= event.event_name %></td>
      <td><%= event.start_time %></td>
    </tr>
    <% end %>
  </tbody>
<table>
</fieldset>
<% end %>

<% end %>