
<h2>Create your SeatShare Account</h2>

<p class="text-muted">Your SeatShare account lets you join an existing group or create your own.</p>

<%= form_for(resource, html: {class: "form-horizontal", role: "form"}, as: resource_name, url: registration_path(resource_name)) do |f| %>

<fieldset>
  <legend>Your Details</legend>

  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, :class => 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :first_name, autofocus: true, :class => 'form-control', :placeholder => 'John' %>
    </div>
    <div class="col-md-5">
      <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Doe' %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :email, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.email_field :email, :class => 'form-control', :placeholder => 'johndoe@example.com' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :newsletter_signup, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <div class="checkbox">
        <label class="text-muted"><%= check_box_tag :newsletter_signup, '1', true %> Ocassional new feature announcements from SeatShare (less than one a month).</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <div class="alert alert-info alert-sm">
        <strong>Just a heads up!</strong> By clicking "Create Account", you are accepting SeatShare's <%= link_to 'Terms of Service', '/tos' %>.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <% if params[:invite_code] %>
        <%= f.hidden_field :invite_code, :value => params[:invite_code] %>
        <% end %>
        <p class="text-right">
          <%= f.submit 'Create Account', :class => 'btn btn-primary' %>
        </p>
    </div>
  </div>

</fieldset>

<% end %>

<% content_for :sidebar do %>

<% if params[:invite_code] %>
<div class="alert alert-success">
  <h4>You've been invited join a group!</h4>
  <p>You are registering with an invitation code, so you will be ready to go here in just a bit!</p>
  <br />
  <p class="text-lg">Invitation code: <strong class="invite_code"><%= params[:invite_code] %></strong></p>
</div>
<% else %>
<div class="alert alert-info">
  <h4>Joining a group?</h4>
  <p>You will be asked to either create a group or join an existing group after your account is created.</p>
</div>
<% end %>

<div class="well">

<h4>What can I do with a SeatShare account?</h4>

<ul class="list-normal">
  <li>Manage your season tickets from anywhere - from your computer, tablet or mobile phone.</li>
  <li>Get weekly and daily alerts about available tickets for upcoming events.</li>
  <li>See who is going to the next event.</li>
  <li>List available tickets in your group.
  <li>Request available tickets.</li>
  <li>Assign tickets to other group members.</li>
</ul>

<h4>Wait, how much does it cost?</h4>
<p>SeatShare is <strong>free</strong> to create an account and to manage your season tickets. We created a tool that we ourselves use every season.</p>

</div>

<% end %>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View registration"); }</script>
<% end %>