<% if @entity.nil? %>
<% content_for :page_title do %>Create a SeatShare Account<% end %>
<% content_for :page_description do %>Register for an account with SeatShare to start managing your season tickets.<% end %>
<% content_for :html_head do %>
<link rel="canonical" href="https://app.myseatshare.com/register" />
<% end %>
<% else %>
<% content_for :page_title do %><%= "Create a SeatShare Account - #{@entity.display_name}".truncate(70, omission: '...') %><% end %>
<% content_for :page_description do %><%= "Register for an account with SeatShare to start managing your season tickets for your #{@entity.display_name} group." %><% end %>
<% content_for :html_head do %>
<link rel="canonical" href="https://app.myseatshare.com/register" />
<% end %>
<% end %>

<h2>Create a SeatShare Account</h2>

<p class="text-muted">Your SeatShare account lets you join an existing group or create your own.</p>

<% if @entity %>
<div class="well team-schedule-box">

  <div class="panel">
    <div class="panel-body text-center">
      <span class="lead">SeatShare is made for <strong><%= image_tag @entity.default_avatar, width: 24, alt: 'Group Image', class: 'image-text-inline' %> <%= @entity.entity_name %></strong> fans!</span>
    </div>
  </div>

  <% if @schedule.count > 0 %>
  <div class="row">
    <% @schedule.take(3).each do |event| %>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-body">
          <h4><%= event['title'] %></h4>
          <p><%= event['venue']['name'] %></p>
          <% if event['date_tbd'] || event['time_tbd'] %>
          <p><i class="fa fa-calendar"></i> <em>To be announced</em></p>
          <% else %>
          <p>
            <i class="fa fa-calendar"></i> <%= DateTime.parse(event['datetime_local']).strftime('%A, %B %-d, %Y') %><br />
            <i class="fa fa-clock-o"></i>  <%= DateTime.parse(event['datetime_local']).strftime('%-I:%M %P') %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
  <div class="panel">
    <div class="panel-body text-center">
      <span class=""><em>We will retrieve the latest schedule as soon as it is available.</em></span>
    </div>
  </div>
  <% end %>
  <% if @performer && @performer['image'] %>
  <style>
  .team-schedule-box {
    background-image: url(<%= @performer['image'].gsub('huge.jpg', '1200x525.jpg') %>);
  }
  </style>
  <% end %>
</div>

<%= raw(@entity.to_json_ld) %>

<% end %>

<%= form_for(resource, html: {class: "form-horizontal", role: "form"}, as: resource_name, url: registration_path(resource_name)) do |f| %>

<fieldset>
  <legend>Your Details</legend>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :name, :class => 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :first_name, autofocus: true, :class => 'form-control', :placeholder => 'John' %>
    </div>
    <div class="col-md-5">
      <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Doe' %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :email, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.email_field :email, :class => 'form-control', :placeholder => 'johndoe@example.com' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :newsletter_signup, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <div class="checkbox">
        <label class="text-muted"><%= check_box_tag :newsletter_signup, '1', false %> Occasional new feature announcements from SeatShare (less than one a month).</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <%= recaptcha_tags %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <div class="alert alert-info alert-sm">
        <strong>Just a heads up!</strong> By clicking "Create Account", you are accepting SeatShare's <%= link_to 'Terms of Service', '/tos' %>. It's a short read, take a look.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <% if @invite %>
        <%= f.hidden_field :invite_code, :value => @invite.invitation_code %>
        <% elsif @group %>
        <%= f.hidden_field :invite_code, :value => @group.invitation_code %>
        <% elsif @entity %>
        <%= f.hidden_field :entity_id, :value => @entity.id %>
        <% end %>
        <p class="text-right">
          <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
          <%= f.submit 'Create Account', :class => 'btn btn-primary' %>
        </p>
    </div>
  </div>

</fieldset>

<% end %>

<hr />

<p class="text-muted"><strong>Please Note:</strong> SeatShare is not a ticket broker or marketplace, and we do not process payment for tickets that may be sold while using the platform.</p>

<% content_for :sidebar do %>

<% if @invite %>
<div class="alert alert-success">
  <h4>You've been invited join a group!</h4>
  <p><strong><%= @invite.user.display_name %></strong> invited you to join <strong><%= @invite.group.group_name %></strong>, so you will be ready to go here in just a bit!</p>
  <br />
  <p class="text-lg">Invitation code: <strong class="invite_code"><%= @invite.invitation_code %></strong></p>
</div>
<% elsif @group %>
<div class="alert alert-success">
  <h4>You've been invited join a group!</h4>
  <p>You have been invited to join <strong><%= @group.group_name %></strong>, so you will be ready to go here in just a bit!</p>
  <br />
  <p class="text-lg">Invitation code: <strong class="invite_code"><%= @group.invitation_code %></strong></p>
</div>
<% elsif @entity %>
<div class="alert alert-success">
  <h4>Create a <%= @entity.entity_name %> group</h4>
  <p>After sign up, you will be ready to invite people to your new season ticket group!</p>
</div>
<% else %>
<div class="alert alert-info">
  <h4>Joining a group?</h4>
  <p>You will be asked to either create a group or join an existing group after your account is created. If you have an invitation code, you can provide it to join the group.</p>
</div>
<% end %>

<div class="panel">
  <div class="panel-body">

    <h4>What can I do with a SeatShare account?</h4>

    <ul class="list-normal">
      <li>Manage your season tickets from anywhere - from your computer, tablet or mobile phone.</li>
      <li>Get weekly and daily alerts about available tickets for upcoming events.</li>
      <li>See who is going to the next event.</li>
      <li>List available tickets in your group.</li>
      <li>Request available tickets.</li>
      <li>Assign tickets to other group members.</li>
    </ul>

    <h4>Wait, how much does it cost?</h4>
    <p>SeatShare is <strong>free</strong> to create an account and to manage your season tickets. We created a tool that we ourselves use every season.</p>

  </div>
</div>

<% end %>

<% content_for :page_footer do %>
<% if !ENV['GOOGLE_ANALYTICS_ID'].nil? %>
<script>
ga(function(tracker) {
  var clientId = tracker.get('clientId');
  $('.ga-client-id').val(clientId);
});
</script>
<% end %>
<% end %>
