<% content_for :page_title do %>Edit User Alias<% end %>

<%= form_for @user_alias, url: user_alias_path, html: {class: "form-horizontal", role: "form"} do |f| %>

  <fieldset>
    <legend>User Alias details</legend>

    <div class="form-group">
      <%= f.label :first_name, :class => 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'John', :value => @user_alias.first_name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, :class => 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Doe', :value => @user_alias.last_name %>
      </div>
    </div>

  </fieldset>

  <div class="row">
    <div class="col-md-12">
        <p class="text-right">
          <%= f.submit 'Update User Alias', :class => 'btn btn-primary' %>
        </p>
    </div>
  </div>

<% end %>

<% content_for :page_footer do %>
<% end %>
