<%= form_for :group_invitation, html: {class: "form-horizontal", role: "form"}, url: { :controller => 'groups', :action => 'invite', :id => @group.id } do |f| %>

<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend>Invite a new member</legend>
      <div class="form-group">
        <%= f.label :email, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :email, :class => 'form-control', :placeholder => 'someone@example.com' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :message, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :message, :class => 'form-control', :placeholder => 'Write a personal message so they know it\'s you. (optional)' %>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-right">
      <%= f.submit 'Send Invitation', :class => 'btn btn-primary' %>
    </p>
  </div>
</div>

<% end %>