<% content_for :page_title do %><%= "Invite Member to #{@group.group_name}" %><% end %>

<div class="jumbotron">
  <p>Anyone with this link can join your ticket group.</p>
  <p><%= link_to @invite_link, @invite_link %></p>
  <p>
    <button class="btn btn-default zeroclipboard" data-clipboard-text="<%= @invite_link %>" data-toggle="tooltip" title="Copy link to clipboard."><span class="fa fa-clipboard"></span> Copy to Clipboard</button>
  </p>
</div>

<%= form_for @group_invitation, html: {class: "form-horizontal", role: "form"}, url: { :controller => 'groups', :action => 'invite', :id => @group.id } do |f| %>

<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend>Invite a New Member via Email</legend>
      <div class="form-group">
        <%= f.label :email, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :email, :class => 'form-control', :placeholder => 'someone@example.com' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :message, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :message, :class => 'form-control', :placeholder => 'Write a personal message so they know it\'s you. (optional)' %>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-right">
      <%= f.submit 'Send Invitation', :class => 'btn btn-primary' %>
    </p>
  </div>
</div>

<% end %>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View send invitation"); }</script>
<% end %>