<% content_for :page_title do %><%= "#{@user.display_name}" %><% end %>

<div class="row">
  <div class="col-md-3">
    <p>
      <%= image_tag @user.gravatar('250x250'), :class => 'img-thumbnail img-responsive', :alt => @user.display_name, :title => @user.display_name %>
    </p>
  </div>
  <div class="col-md-9">
    <% if current_user === @user %>
    <p class="pull-right">
      <%= link_to raw('<span class="fa fa-pencil"></span> Edit Profile'), { :action => 'edit' }, :class => 'btn btn-default' %>
    </p>
    <% end %>
    <h2><%= @user.display_name %></h2>
    <p><small class="text-muted"> <%= !@user.location.blank? ? @user.location : '<em>No Location Set</em>'.html_safe %> <span class="fa fa-map-marker"></span></small></p>

    <div class="lead"><%= raw(@user.bio_md) %></div>

    <br />
    <ul class="list-group">
      <li class="list-group-item profile-email"><span class="fa fa-envelope"></span> <%= mail_to @user.email, @user.email %></li>
      <li class="list-group-item profile-joined"><span class="fa fa-user"></span> Joined <%= @user.created_at.strftime('%B %-d, %Y') %></li>
      <li class="list-group-item profile-mobile"><span class="fa fa-phone"></span> <%= !@user.mobile.blank? ? number_to_phone(@user.mobile) : 'Not Provided' %></li>
    </ul>
  </div>
</div>

<% content_for :page_footer do %>
<% end %>
