<% render 'event' %>

<% if @can_edit_ticket %>

<%= form_for :ticket, html: {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label 'Ticket Purchaser', :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <p class="form-control-static"><%= @ticket.owner.full_name %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.select :user_id, @members, {}, { :class => 'form-control' } %>
    </div>
  </div>
  <div id="alias_control" style="<%= (@ticket.assigned === current_user) ? '' : 'display:none;' %>">
    <div class="form-group">
      <%= f.label :alias_id, :class => 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :alias_id, @user_aliases, {}, { :class => 'form-control' } %>
        <span class="help-block"><a href="#">Manage my user aliases</a></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_field :cost, :class=>'form-control', :placeholder=>'25.00', :value=>@ticket.cost %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :note, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :note, :class=>'form-control', :placeholder=>'Add a public note for the ticket.', :value=>@ticket.note %>
    </div>
  </div>

  <% if !@ticket.ticket_files.blank? %>
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <table class="table">
        <tr>
          <th>Attachments</th>
          <th class="action"></th>
        </tr>
        <% for file in @ticket.ticket_files %>
        <tr>
          <td>
            <a href="<%= file.path %>"><span class="glyphicon glyphicon-save"></span> <%= file.file_name %></a>
            <br /><small>Uploaded <%= file.created_at %></small>
          </td>
          <td><a href="#" class="btn btn-sm btn-danger confirm"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% end %>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <label for="ticket_file" class="sr-only">File input</label>
      <input type="file" id="ticket_file" name="ticket_file" />
      <p class="help-block">(Optional) Maximum upload size 2 MB.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <%= f.submit 'Update Ticket', :class => 'btn btn-primary' %>
      </p>
    </div>
  </div>
<% end %>

<% else %>


<%= form_for :ticket, html: {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label :owner_id, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <p class="form-control-static"><%= @ticket.owner.full_name %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <% if !@ticket.assigned.nil? %>
      <p class="form-control-static"><%= @ticket.assigned.full_name %></p>
      <% else %>
      <p class="form-control-static">Unassigned</p>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <p class="form-control-static"><%= number_to_currency(@ticket.cost) %></p>
    </div>
  </div>
  <% if ticket.note %>
  <div class="form-group">
    <%= f.label :note, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <p class="form-control-static"><%= @ticket.note %></p>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :message, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :message, :class => 'form-control', :placeholder => 'You can include additional notes here for this request. We will already include the ticket details.' %>
    </div>
  </div>

  <% if !@ticket.ticket_files.blank? %>
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <p class="form-control-static">This ticket has <strong><%= ticket.ticket_files.count %> file(s)</strong> attached. Only the owner or ticket assignee can download attachments.</p>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <%= f.submit 'Request Ticket', :class => 'btn btn-primary' %>
      </p>
    </div>
  </div>

<% end %>

<% end %>

<% if !@ticket.ticket_histories.blank? %>

<% end %>