<% content_for :page_title do %><%= "#{@event.event_name} - #{@ticket.display_name}" %><% end %>

<%= render 'event' %>

<%= form_for :ticket, html: {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label 'Ticket Purchaser', :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <p class="form-control-static"><%= @ticket.owner.display_name %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.select :user_id, @members, {}, { :class => 'form-control', :data => { :current => current_user.id } } %>
    </div>
  </div>
  <% if current_user.user_aliases.count > 0 %>
  <div id="alias_control">
    <div class="form-group">
      <%= f.label :alias_id, :class => 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.select :alias_id, @user_aliases, {}, { :class => 'form-control' } %>
        <span class="help-block"><%= link_to "Manage my user aliases", {:controller => :users, :action => :edit } %></span>
      </div>
    </div>
  </div>
  <% else %>
  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">
      <span class="help-block"><i class="fa fa-info-circle"></i> Create <%= link_to "User Aliases", edit_user_path %> to reserve tickets for people without accounts.</span>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :cost, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :cost, :class=>'form-control', :placeholder=>'25.00', :value=>number_to_currency(@ticket.cost, :unit=>'') %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :note, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :note, :class=>'form-control', :placeholder=>'Add a public note for the ticket.', :value=>@ticket.note %>
    </div>
  </div>

  <% if !@ticket.ticket_files.blank? %>
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <table class="table">
        <tr>
          <th>Attachments</th>
          <th class="action"></th>
        </tr>
        <% for file in @ticket.ticket_files %>
        <tr>
          <td>
            <%= link_to raw('<span class="fa fa-save"></span> ') + file.file_name, file.download_link %>
            <br /><small>Uploaded <%= file.created_at %></small>
          </td>
          <td><%= link_to raw('<span class="fa fa-trash"></span>'), delete_ticket_file_path(ticket_id: @ticket.id, id: file.id), :class => 'btn btn-sm btn-danger confirm' %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% end %>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <%= f.label :ticket_file, :class => 'sr-only' %>
      <%= f.file_field :ticket_file %>
      <p class="help-block">(Optional) Maximum upload size 2 MB.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        <%= f.submit 'Update Ticket', :class => 'btn btn-primary' %>
      </p>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>

<% if !@ticket.ticket_histories.blank? %>
<h3>Ticket History</h3>
<ul class="list-unstyled">
  <% for history in @ticket.ticket_histories %>
  <li><%= history.display_name %> <%= history.date_time %></li>
  <% end %>
</ul>
<% end %>

<% end %>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View edit ticket"); }</script>
<% end %>
