<% content_for :page_title do %>Contact - SeatShare<% end %>
<% content_for :page_description do %>Have questions or comments about SeatShare? We are here to help.<% end %>

<h1>Let's talk!</h1>

<p class="lead">Got an idea for a new feature? Cannot find your team in our list of more than 2,700? For any of these reasons and more, let's get in touch!</p>

<h2>Have questions or comments?</h2>

<p class="text-muted">We value your feedback on how we can improve SeatShare to better serve your season ticket management needs. The form below will send an email to our team. If you come across a bug, please be sure to note what page what browser you are using so we can address those as quickly as possible. We really do like to hear from you, so get in touch often!</p>

<br />

<% if params[:thank_you] %>
<div class="alert alert-success">
  <p>Your message has been sent!</p>
</div>
<% end %>

<%= form_tag contact_path, :class => "form-horizontal", :role => "form" do |f| %>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Your Name</label>
    <div class="col-sm-10">
      <%= text_field_tag :name, nil, { :class => "form-control", :placeholder => "Your Name" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <%= email_field_tag :email, nil, { :class => "form-control", :placeholder => "user@example.com" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Topic</label>
    <div class="col-sm-10">
      <%= select_tag :subject, options_for_select(["I have a question about SeatShare.", "I need help with my account.", "I have an idea for a feature.", "Other"]), { :class => "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="message" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-10">
      <%= text_area_tag :message, nil, { :class => "form-control", :rows => 10, :placeholder => "Let us know how we can help!" } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p class="text-right">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </p>
    </div>
  </div>
<% end %>

<p class="text-muted">We hate spam email as much as you do. We will only use the provided contact information to discuss your message. We will not to sign you up for any email lists or share with a third party. See our <%= link_to "privacy policy", privacy_path %> for more details.</p>

<% content_for :sidebar do %>

<div class="well">

<h4>What's new?</h4>

<p>One of the best things about using an online tool to easily manage your season ticket group is that you get to use the latest SeatShare features without having anything to install or update!</p>

<p>We post new feature announcements and changes through our <a href="http://blog.myseatshare.com/">blog</a>. You can also <a href="http://twitter.com/mySeatShare">find us on Twitter at @mySeatShare</a>.</p>

<h4>Are there other ways to get in touch?</h4>

<p>Sure thing! We can be reached via voicemail at (615) 829-6584.</p>

<p>Need to send us something via postal mail? We've got you covered there too.</p>

<p>
  SeatShare<br />
  PO Box 60901<br />
  Nashville, TN 37206
</p>

</div>

<% end %>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View contact page"); }</script>
<% end %>