<h1>Have questions or comments?</h1>

<p class="text-muted">We value your feedback on how we can improve SeatShare to better serve your season ticket management needs. The form below will send an email to our team. We try to answer every message promptly, but may not be able to give an individual response.</p>

<% if params[:thank_you] %>
<div class="alert alert-success">
  <p>Your message has been sent!</p>
</div>
<% end %>

<%= form_tag "http://getsimpleform.com/messages?form_api_token=#{ENV['SIMPLE_FORM_FORM_API_TOKEN']}", :class => "form-horizontal", :role => "form" do |f| %>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Your Name</label>
    <div class="col-sm-10">
      <%= text_field_tag :name, nil, { :class => "form-control", :placeholder => "Your Name" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <%= email_field_tag :email, nil, { :class => "form-control", :placeholder => "user@example.com" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Topic</label>
    <div class="col-sm-10">
      <%= select_tag :subject, options_for_select(["I have a question about SeatShare.", "I need help with my account.", "I have an idea for a feature.", "Other"]), { :class => "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="message" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-10">
      <%= text_area_tag :message, nil, { :class => "form-control", :rows => 10, :placeholder => "Let us know how we can help!" } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Send Message</button>
    </div>
  </div>

  <%= hidden_field_tag :redirect_to, url_for({:controller => 'public', :action => 'contact', :host => 'myseatshare.com', :thank_you => 1}) %>

<% end %>

<% content_for :sidebar do %>

<div class="well">

<h4>What's new?</h4>

<p>We post new feature announcements and changes through our <a href="http://blog.myseatshare.com/">blog</a>. You can also <a href="http://twitter.com/mySeatShare">find us on Twitter at @mySeatShare</a>.</p>

<h4>Are there other ways to get in touch?</h4>

<p>Sure thing! We can be reached via voicemail at (615) 829-6584.</p>

<p>Need to send us something via postal mail? We've got you covered there too.</p>

<p>
  SeatShare<br />
  PO Box 60901<br />
  Nashville, TN 37206
</p>

</div>

<% end %>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View contact page"); }</script>
<% end %>