<% content_for :page_title do %>Welcome to SeatShare<% end %>
<% content_for :page_description do %>SeatShare helps you manage your group's season tickets for your favorite team. Sign up for free.<% end %>

<br />
<br />

<div class="visible-xs">
    <div class="well well-actions text-center">
        <ul class="list-inline">
            <li><%= link_to 'Register', new_user_registration_path, :class=> 'btn btn-primary' %></li>
            <li><%= link_to 'Login', 'login', :class=> 'btn btn-primary' %></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= link_to image_tag('screenshot-iphone.png', :class => "img-responsive visible-md visible-lg", :alt => "Screenshots", :title => "Simulated Mobile Screenshot"), new_user_registration_path %>
    </div>
    <div class="col-md-9">

        <br />

        <div class="lead">
          <strong>SeatShare</strong> is the easiest way to manage group season tickets for <%= link_to "more than 2,800 professional and college sports teams", teams_path, class: 'alert-link' %>!
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <h2>Groups</h2>
                <p>Join or create a new group to share your season tickets with friends and coworkers.</p>
            </div>
            <div class="col-md-4">
                <h2>Events</h2>
                <p>Your <%= link_to 'favorite teams', teams_path %> are available with up-to-date schedules. Plan the entire season.</p>
            </div>
            <div class="col-md-4">
                <h2>Tickets</h2>
                <p>List a single game or an entire season of tickets to share with your group. Sit with people you know.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Messaging</h2>
                <p>Send a message to the entire group, or just a few members. Our site is mobile friendly, too.</p>
            </div>
            <div class="col-md-4">
                <h2>Notifications</h2>
                <p>Recieve an SMS text message when someone requests a ticket or assigns one to you. Respond quickly from your phone.</p>
            </div>
            <div class="col-md-4">
                <h2>... and more!</h2>
                <p>SeatShare is web-based software, so you get the latest features as soon as they are released.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="home-cta">
                    <p class="lead text-center"><%= link_to "Create a SeatShare Account", new_user_registration_path, :class=>'btn btn-primary btn-lg' %></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-center">
        <br />
        <hr />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Have season tickets? We have you covered!</h2>
        <ul class="list-inline">
            <% @entity_types.each do |et| %>
            <li><%= link_to et.entity_type_name, league_path(entity_type_abbreviation: et.entity_type_abbreviation), title: et.entity_type_name, class: 'btn btn-link' %></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <br />
        <hr />
        <br />
    </div>
</div>

<%= render 'public/service_description' %>

<% content_for :page_footer do %>
<% end %>
