<% content_for :page_title do %>Welcome to SeatShare<% end %>
<% content_for :html_head do %>
<meta name="description" content="SeatShare helps you manage your group's season tickets for sporting or performing arts events. Sign up for free." />
<% end %>

<h1>What is SeatShare?</h1>
<p class="lead">SeatShare is the easiest way to manage your shared pool of tickets for a sports team or performing arts venue.</p>

<div class="visible-xs">
    <div class="well text-center">
        <ul class="list-inline" style="margin-bottom:0;">
            <li><%= link_to 'Register', new_user_registration_path, :class=> 'btn btn-primary' %></li>
            <li><%= link_to 'Login', 'login', :class=> 'btn btn-primary' %></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= link_to image_tag('screenshot-iphone.png', :class => "img-responsive visible-md visible-lg", :alt => "Screenshots", :title => "Simulated Mobile Screenshot"), new_user_registration_path %>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <h2>Groups</h2>
                <p>Join or create a new group to share your season tickets with friend and coworkers.</p>
            </div>
            <div class="col-md-4">
                <h2>Events</h2>
                <p>Your <%= link_to 'favorite teams', teams_path %> and venues are available with up-to-date schedules. Plan the entire season.</p>
            </div>
            <div class="col-md-4">
                <h2>Tickets</h2>
                <p>List a single game or an entire season of tickets to share with your group. Sit with people you know.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Messaging</h2>
                <p>Send a message to the entire group, or just a few members. Our site is mobile friendly, too.</p>
            </div>
            <div class="col-md-4">
                <h2>Notifications</h2>
                <p>Recieve an email when someone requests a ticket or assigns one to you. Respond quickly from your phone.</p>
            </div>
            <div class="col-md-4">
                <h2>&amp; more!</h2>
                <p>SeatShare is web-based software, so you get the latest features as soon as they are released.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="home-cta">
                    <p class="lead text-center"><%= link_to "Create Your SeatShare Account", new_user_registration_path, :class=>'btn btn-primary btn-lg' %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <hr />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-7">
        <h3>Getting Started</h3>
        <p class="lead">Everything in SeatShare is organized around the idea of a group. A group is a collection of users (like you!) that often purchase season tickets or receive them from a friend. Generally, a group consists of folks that you know and trust already.</p>
    </div>
    <div class="col-md-3">
         <%= link_to image_tag('screenshot-groups.png', :alt=>"Screenshot", :title => "Groups", :class => "img-thumbnail hidden-xs"), new_user_registration_path %>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-7 col-md-push-4">
        <h3>Calendar of Events</h3>
        <p class="lead">When you join or create a group, you will see a list of ‘Events’ for that team or venue. In most cases, these are individual games in the season ticket package. These are pre-loaded in the system for each team and venue available.</p>
    </div>
    <div class="col-md-3 col-md-pull-6">
         <%= link_to image_tag('screenshot-events.png', :alt=>"Screenshot", :title=>"Events", :class => "img-thumbnail hidden-xs"), new_user_registration_path %>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-offset-1 col-md-7">
        <h3>Need Tickets?</h3>
        <p class="lead">If you want to attend an event, find an available ticket and use the dropdown menu to “Request” the ticket. This will send a message to the ticket holder saying that you want to attend that event. Ticketholders can then update the ticket’s assignee.</p>
        <p class="lead text-center"><%= link_to "Create Your SeatShare Account", new_user_registration_path, :class=>'btn btn-primary btn-lg' %></p>
    </div>
    <div class="col-md-3">
         <%= link_to image_tag('screenshot-tickets.png', :alt=>"Screenshot", :title=>"Tickets", :class=>"img-thumbnail hidden-xs"), new_user_registration_path %>
    </div>
</div>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View home page"); }</script>
<% end %>