<% content_for :page_title do %>Manage season tickets for <%= @entity_type.entity_type_name %> teams - SeatShare<% end %>
<% content_for :page_description do %>We import schedules for all of the <%= @entity_type.entity_type_name %> teams.<% end %>

<% content_for :page_header do %>
<div class="jumbotron teams-header">
  <h1>You have home <span class="location_word">field</span> advantage</h1>
  <p>With more than 2,600 pro and college team schedules available, SeatShare has your seats covered.</p>
  <%= link_to "Create a SeatShare Account", new_user_registration_path, :class=>'btn btn-primary btn-lg' %>
</div>

<% end %>

<div class="row">
  <div class="col-md-12">
    <h3 id="<%= @entity_type.entity_type_name.parameterize %>"><%= @entity_type.entity_type_name %> (<%= @entity_type.entity_type_abbreviation %>)</h3>
    <hr />
    <div class="row">
      <% for team in @entities %>
      <div class="col-md-4">
        <p class="lead"><%= link_to team.entity_name, register_with_entity_id_path(nil, { :entity_slug => team.display_name.parameterize, :entity_id => team.id}) %></p>
      </div>
      <%  end %>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <br />
        <hr />
        <br />
    </div>
</div>

<%= render 'public/service_description' %>

<% content_for :page_footer do %>
<% end %>
