<% content_for :page_title do %>Manage Season Tickets for Your Favorite Team - SeatShare<% end %>
<% content_for :html_head do %>
<meta name="description" content="We import schedules for all of the most popular teams, including NHL, NFL, NBA, MLB and college sports." />
<% end %>

<% content_for :page_header do %>
<div class="jumbotron teams-header">
  <h1>You have home field advantage</h1>
  <p>With more than 2,600 pro and college team schedules available, SeatShare has your seats covered.</p>
  <%= link_to "Create Your SeatShare Account", new_user_registration_path, :class=>'btn btn-primary btn-lg' %>
</div>

<% end %>

<% @teams_list.each do |label, teams| %>
<div class="row">
  <div class="col-md-12">
    <h3 id="<%= label.parameterize %>"><%= label %></h3>
    <hr />
    <div class="row">
      <% for team in teams %>
      <div class="col-md-4">
        <p class="lead"><%= link_to team.entity_name, register_with_entity_id_path(nil, { :entity_slug => team.display_name.parameterize, :entity_id => team.id}) %></p>
      </div>
      <%  end %>
    </div>
  </div>
</div>
<% end %>

<% content_for :sidebar do %>

<div>

  <div class="list-group col-md-12 team-list">

    <% @entity_types.each do |entity_type| %>
    <%= link_to "<span class=\"badge\">#{entity_type.entities.count}</span> #{entity_type.display_name}".html_safe, "##{entity_type.display_name.parameterize}", class: 'list-group-item' %>
    <% end %>

  </div>

  <p><small><strong>Not seeing your team?</strong> Just <%= link_to 'contact us', contact_path %> and we will look into adding it!</small></p>

</div>

<% end %>

<% content_for :page_footer do %>
<script>if (typeof mixpanel != 'undefined') { mixpanel.track("View teams landing page"); }</script>
<% end %>