<footer>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>
                <em>Provided by <%= link_to 'SeatShare', :root %></em>
            </p>
        </div>
        <div class="col-md-10">
            <div class="text-right">
                <ul class="list-inline">
                    <li class="hidden-xs"><%= link_to '<span class="fa fa-newspaper-o"><span class="hidden">Blog</span></span>'.html_safe, 'http://blog.myseatshare.com', target: '_blank', title: 'SeatShare Blog' %></li>
                    <li class="hidden-xs"><%= link_to '<span class="fa fa-youtube"><span class="hidden">YouTube</span></span>'.html_safe, 'https://www.youtube.com/channel/UCMD4VVnZaQ1W8JBwDXzn8hA', target: '_blank', title: 'SeatShare on YouTube' %></li>
                    <li class="hidden-xs"><%= link_to '<span class="fa fa-google-plus"><span class="hidden">Google+</span></span>'.html_safe, 'https://plus.google.com/102088751811335757727', target: '_blank', title: 'SeatShare on Google+' %></li>
                    <li class="hidden-xs"><%= link_to '<span class="fa fa-twitter"><span class="hidden">Twitter</span></span>'.html_safe, 'http://twitter.com/myseatshare', target: '_blank', title: 'SeatShare on Twitter' %></li>
                    <li class="hidden-xs"><%= link_to '<span class="fa fa-facebook"><span class="hidden">Facebook</span></span>'.html_safe, 'http://facebook.com/myseatshare', target: '_blank', title: 'SeatShare on Facebook' %></li>
                    <li><%= link_to 'Terms of Service', tos_path %></li>
                    <li><%= link_to 'Privacy Policy', privacy_path %></li>
                    <li><%= link_to 'Contact', contact_path %></li>
                    <li class="hidden-xs"><a href="https://mixpanel.com/f/partner"><img src="https://cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" title="Mobile Analytics by Mixpanel" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
