<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <%= link_to "SeatShare", :root, :class => 'navbar-brand' %>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <% if user_signed_in? %>
        <% if !@group_selector.blank? && !@group.nil? %>
        <form class="navbar-form navbar-left" role="form" id="group_switcher" method="get">
          <div class="form-group">
            <%= select_tag 'group_selector', options_for_select(@group_selector, @group.id), { :class => 'form-control' } %>
          </div>
        </form>
      <% end %>
      <ul class="nav navbar-nav">
        <li class=""><%= link_to "Dashboard", :root %></li>
        <li class=""><%= link_to "Groups", :groups %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class=""><%= link_to current_user.display_name, profile_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav pull-right">
        <li class=""><%= link_to 'Create Account', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
