<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">

<title><%= yield :page_title || 'SeatShare' %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<meta charset="utf-8">

<%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png' %>

<%= render 'layouts/ios' %>

<%= render 'layouts/mixpanel' %>

<%= render 'layouts/analytics' %>

<%= yield :html_head %>

</head>
<body class="home">

<div class="navbar navbar-inverse home-navbar hidden-xs">
  <div class="container">
      <ul class="nav navbar-nav pull-right">
        <li class=""><%= link_to 'Create Account', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      </ul>
    </div>
</div>

<div class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <%= link_to image_tag('seatshare-inverted.svg', :class => 'home-logo img-responsive', :alt => "SeatShare", :title => "SeatShare Logo"), new_user_registration_path %>
            </div>
            <div class="col-md-5">
                <%= link_to image_tag('screenshot-laptop.png', :class => 'home-screenshot img-responsive visible-md visible-lg', :alt => 'Screenshots', :title => 'Simulated Desktop Screenshot'), new_user_registration_path %>
            </div>
        </div>
    </div>
</div>

<%= yield :page_header %>

<div class="container">

<%= yield %>

<%= render 'layouts/footer' %>

</div>

<%= render 'layouts/growl' %>

<%= yield :page_footer %>

</body>
</html>