<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">

<title><%= yield :page_title || 'SeatShare' %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<meta charset="utf-8">

<%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png' %>

<%= render 'layouts/meta_tags' %>

<%= render 'layouts/ios' %>

<%= render 'layouts/mixpanel' %>

<%= render 'layouts/analytics' %>

<%= yield :html_head %>

</head>
<body class="default">

<%= render 'layouts/navbar' %>

<%= yield :page_header %>

<div class="container">

<%= yield %>

<%= render 'layouts/footer' %>

</div>

<%= render 'layouts/growl' %>

<%= yield :page_footer %>

</body>
</html>